<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tohelp.tohelp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".ApplicationClass">

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name=".SplashScreen"
            android:theme="@style/SplashStyle"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ShowResume"
            android:theme="@style/NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="com.tohelp.tohelp.ShowResume" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CopyrightInformation"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="com.tohelp.tohelp.CopyrightInformation" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Browser"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="com.tohelp.tohelp.Browser" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Login"
            android:theme="@style/NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="com.tohelp.tohelp.login" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Main"
            android:label="@string/app_name"
            android:theme="@style/NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="com.tohelp.tohelp.main" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ForgotPassword"
            android:theme="@style/NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="com.tohelp.tohelp.forgot_password" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Register"
            android:theme="@style/NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name=".register" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterCheck"
            android:theme="@style/NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name=".register_check" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MyProfile"
            android:label="@string/my_profile"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name=".MyProfile" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivityQuestionary"
            android:label="@string/questionary"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name=".ActivityQuestionary" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivityWorkExperience"
            android:label="@string/work_experience"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name=".ActivityWorkExperience" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivityPersonalData"
            android:label="@string/personal_data"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name=".ActivityPersonalData" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivityMainSkills"
            android:label="@string/main_skills"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name=".ActivityMainSkills" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivityEducation"
            android:label="@string/education"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name=".ActivityEducation" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivityLanguages"
            android:label="@string/languages"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name=".ActivityLanguage" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivityCourses"
            android:label="@string/courses"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name=".ActivityCourses" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivityProjects"
            android:label="@string/projects"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name=".ActivityProjects" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivityAdditionalInformation"
            android:label="@string/additional_information"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name=".ActivityAdditionalInformation" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ListOfArticles"
            android:label="@string/my_navigator">
            <intent-filter>
                <action android:name="com.tohelp.tohelp.ListOfHouseProblem" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ConsultantShowListOfSpecialists"
            android:label="@string/search_specialist"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="com.tohelp.tohelp.consultant_personal" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ConsultantSendRequest"
            android:label="@string/my_messages"
            android:theme="@style/StyleForMessage"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="com.tohelp.tohelp.online_consultant_message" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ConsultantSearchSpecialists"
            android:label="@string/create_request"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="com.tohelp.tohelp.consultant_request_call" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ConsultantCompleteRequest"
            android:label="@string/title_status_of_request">
            <intent-filter>
                <action android:name="com.tohelp.tohelp.consultant_status" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
    </application>

</manifest>